<mat-toolbar color="primary" class="navbar">
  <button
    mat-raised-button
    class="brand"
    value=""
    routerLink="/"
    matTooltip="Click here to navigate back to the main page"
    matTooltipPosition="below"
    matTooltipShowDelay="1000"
  ></button>
  <div class="icons">
    <mat-icon
      fontIcon="light_mode"
      (click)="disableDarkMode()"
      class="theme-icon"
      matTooltip="Click to enable a light theme"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    ></mat-icon
    ><mat-slide-toggle
      class="mode-toggle"
      (change)="toggleTheme()"
      [checked]="darkMode"
      matTooltip="Click to change themes"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    ></mat-slide-toggle
    ><mat-icon
      fontIcon="dark_mode"
      (click)="enableDarkMode()"
      class="theme-icon"
      matTooltip="Click to enable a dark theme"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    ></mat-icon>
    <button
      mat-icon-button
      class="menu-icon"
      [matMenuTriggerFor]="main"
      matTooltip="Click to open the main menu"
      matTooltipPosition="below"
      matTooltipShowDelay="1000"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #main="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="admin">Admin</button>
      <button mat-menu-item [matMenuTriggerFor]="apps">Apps</button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="other">
        Other Links
      </button> -->
    </mat-menu>
    <mat-menu #admin="matMenu">
      <a
        href="http://nginx.hathaway.home"
        target="_blank"
        mat-menu-item
      >
        NGINX
      </a>
      <a
        href="http://pi-hole.hathaway.home/admin"
        target="_blank"
        mat-menu-item
      >
        Pi Hole
      </a>
    </mat-menu>
    <mat-menu #apps="matMenu">
      <a
        href="http://recipekeeper.hathaway.home"
        target="_blank"
        mat-menu-item
      >
        RecipeKeeper
      </a>
      <a
      href="https://listless.hathaways.net"
      target="_blank"
      mat-menu-item
    >
      Shopping List
    </a>
    </mat-menu>
    <!-- <mat-menu #other="matMenu"
      ><a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        target="_blank"
        rel="noopener"
        mat-menu-item
      >
        Click Me
      </a></mat-menu
    > -->
  </div>
</mat-toolbar>
